<div class="body">
  <div class="search">
    <input class="searchbar" [(ngModel)]="search" placeholder="search for topic" type="text" ><button class="searchicon" (click)="clickedButton()"><fa-icon  [icon]="faSearch"></fa-icon></button>
    <i class="fas fa-band-aid"></i>
  </div>
  <div class="container">
    <button class="back" (click)="goBack()" *ngIf="back"><fa-icon  [icon]="faArrowLeft"></fa-icon>Go Back</button>
    <h1>{{nothing}}</h1>

    <div class="newscard" *ngFor="let user of articles">

      <div class="text">
        <a href="{{user.url}}"  class="title"><h2>{{ user.title}}</h2></a>
        <img src="{{user.urlToImage}}">
        <h3 class="author">{{ user.author}}</h3>
        <p class="publishedAt">{{ user.publishedAt}}</p>
        <p class="description">{{ user.description}}</p>
        <div class="links">
        <a  class="link " href="{{user.url}}">read more <fa-icon  [icon]="faArrowRight"></fa-icon></a>
        </div>
      </div>
    </div>
  </div>
</div>
